@(title: String = "Welcome!")

@import play.api.Play.current

@main(title) {

    <h2>Welcome to RuFan</h2>

    @if(session.get("username")) {

        <div class="jumbotron">
            <h1>RuFan - Daily Fantasy Sport</h1>
            <p>Good to see you again @{session.get("displayName")}!</p>
            <a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-search"></span> Tournaments</a>
        </div>

    } else {
        <image src="@routes.Assets.versioned("/images/RuFan-FrontPageLogo.png")"/>
    }
}