@(accountForm: Form[is.rufan.user.domain.UserRegistration])

@import helper._

@main("Modify Profile", nav = "userProfile") {
    @helper.form(action = routes.UserController.getUserProfile()) {
        <fieldset>
            <legend>Account information</legend>
            @inputText(
                accountForm("username"),
                '_label -> "Username",
                '_error -> accountForm.globalError
            )
            @inputText(
                accountForm("name"),
                '_label -> "Name",
                '_error -> accountForm.globalError
            )
            @inputText(
                accountForm("email"),
                '_label -> "Email"
            )
            @inputPassword(
                accountForm("password"),
                '_label -> "Password",
                '_help -> "A password must be at least 6 characters. "
            )
            @inputPassword(
                accountForm("repeatPassword"),
                '_label -> "Repeat password",
                '_help -> "Please repeat your password.",
                '_error -> accountForm.globalError
            )
            @select(
                accountForm("favoriteTeam"),
                options(),
                '_label -> "Chooses Favorite Team"
            )
            @inputText(
                accountForm("cardType"),
                '_label -> "Card type"
            )
            @inputText(
                accountForm("cardNumber"),
                '_label -> "Card number"
            )
            @inputText(
                accountForm("cardExpirationDate"),
                '_label -> "Card expiration date"
            )
        </fieldset>
        <div class="actions">
            <a href="@routes.UserController.getUserProfile()" class="btn btn-primary">Submit</a>
        </div>
    }
    <script src="@routes.Assets.versioned("javascripts/TeamList.js")"></script>
}
